    body {
      font-family: 'Poppins', sans-serif;
    }

    .carousel-item img {
      width: 100%;
      height: 100vh;
      object-fit: cover;

    }

    .package-box {
      border-radius: 20px;
      padding: 35px 25px;
      background: #fff;
      transition: 0.3s;
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
      height: 100%;
    }

    .package-box:hover {
      transform: translateY(-8px);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    }

    .highlight {
      background: linear-gradient(135deg, #4e73df, #1e40af);
      color: white;
      transform: scale(1.05);
      box-shadow: 0 15px 30px rgba(78, 115, 223, 0.3);
    }

    .price {
      font-size: 32px;
      font-weight: 700;
    }

    .btn-custom {
      border-radius: 25px;
      padding: 8px 20px;
      font-weight: 500;
    }

    .badge-hot {
      position: absolute;
      top: 12px;
      right: 18px;
      background: red;
      color: white;
      font-size: 12px;
      padding: 3px 8px;
      border-radius: 10px;
    }

    .client-img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      object-fit: cover;
    }

    footer {
      background: #0b0c10;
      color: #ccc;
    }
    
    img.store-badge {
      height: 40px;
      margin-right: 20px;
    }
  
  .store-badge {
    height: 60px;      
    width: 120px;       
    object-fit: contain;
  }

  @media (max-width: 576px) {
    .store-badge {
      height: 40px;
    }
  }
